/*
!/frontend/public
!/frontend/src
!/frontend/index.html
!/frontend/package.json
!/frontend/vite.config.js
!/frontend/yarn.lock
!/backend/nginx
!/backend/app
!/backend/composer.json
!/backend/composer.lock
!/backend/docker-compose.yml
!/backend/Dockerfile
!/backend/index.php
!/.gitignore