.product-list {
    padding: 20px;
}

button {
    margin-bottom: 10px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
}

.grid-item {
    border: 1px solid #ccc;
    padding: 10px;
}

.product-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-id {
    display: none;
}
